.home__hiring {
  position: relative;
  height: 550px;
  background-color: var(--light-grey);
  text-align: center;
}

.home__hiring--text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 480px;
  z-index: 1;
}

.home__hiring--text h3 {
  padding: 30px 0;
}

.home__hiring--img-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.home__hiring--img-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (min-width: 2050px) {
  .home__hiring--img-right {
    right: 20vw;
   }
  .home__hiring--img-left {
    left: 20vw;
   }
}

@media screen and (max-width: 1100px) {
  .home__hiring img {
    height: 200px;
  }
}

@media screen and (max-width: 900px) {
  .home__hiring img {
    height: 150px;
  }
  .home__hiring--img-left {
    top: 85%;
    transform: translate(0, -50%);
  }
  
  .home__hiring--img-right {
    top: 15%;
    transform: translate(0, -50%);
  }
}

@media screen and (max-width: 500px) {
  .home__hiring {
    height: 500px;
  }
  .home__hiring img {
    height: 100px;
  }
  .home__hiring--img-left {
    top: 90%;
  }
  
  .home__hiring--img-right {
    top: 10%;
  }
}