.home__about {
  padding: 150px 0;
  background-color: var(--light-grey);
}

.home__about--header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.home__about--header img {
  height: 100%;
  margin-right: 40px;
}

.home__about h2 {
  padding-bottom: 32px;
}

.home__about--info {
  display: flex;
  justify-content: start;
  gap: 95px;
}

.home__about--info div {
  max-width: 300px;
}

.home__about--info div p:first-child {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: var(--orange);
  letter-spacing: -1px;
  padding-top: 80px;
}

.home__about--info div p:first-child::after {
  content: " ";
  display: block;
  height: 15px;
  border-bottom: 1px solid var(--metal);
  width: 50px;
}

.home__about--info div p:last-child {
  font-weight: medium;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -1px;
  padding-top: 25px;
}

@media screen and (max-width: 1000px) {
  .home__about--header img {
    margin-right: 0px;
  }
  .home__about {
    padding: 120px 0;
  }
  .home__about--info {
    gap: 55px;
  }
  .home__about--info div p:last-child {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__about {
    padding: 100px 0;
  }
  .home__about--info {
    gap: 20px;
    justify-content: space-between;
  }
  .home__about--info div p:first-child {
    font-size: 24px;
    line-height: 24px;
    padding-top: 50px;
  }
  .home__about--info div p:last-child {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .home__about {
    padding: 80px 0;
  }
  .home__about--header {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .home__about--header img {
    width: 80px;
    margin: 0 auto;
  }
  .home__about--info {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .home__about--info div p:first-child::after {
    height: 10px;
    width: 50px;
    margin: 0 auto;
  }
  .home__about--info div p:last-child {
    padding-top: 15px;
  }
}