.background__image {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
 }


 @media screen and (min-width: 2050px) {
   .background__image {
     right: 20vw;
    }
 }

 @media screen and (max-width: 1200px) {
  .background__image {
    width: 500px;
   }
}

@media screen and (max-width: 900px) {
  .background__image {
    width: 350px;
   }
}

@media screen and (max-width: 768px) {
  .background__image {
    width: 300px;
   }
}
