.home {

}

.home__wrapper {
  padding: 0 120px;
}

.home__main {
  height: 650px;
  display: flex;
  position: relative;
}

.home__main--tittle {
  padding-top: 130px;
  max-width: 800px;
}

.home__main--tittle h3 {
  padding: 25px 0;
}

.home__main--bg {
 position: absolute;
 width: 670px;
 height: 490px;
 right: -120px;
 bottom: 0;
}