.placeholder {
  display: none;
}

.placeholder--visible {
  display: block;
  height: 100px;
}

.header {
  z-index: 5;
  position: relative;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.header--fixed {
  position: fixed;
  top: 0;

}

.header__nav {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.header__logo-container {
  display: flex;
  font-size: 12.8px;
  align-items: center;
}

.header__logo {
  width: 200px;
  height: 48px;
}

.header__links-container {
  position: absolute;
  display: flex;
  gap: 40px;
  top: 69px;
  left: 0;
  right: 0;
  min-height: calc(100vh - 56px);
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.2s;
  background-color: white;
  list-style: none;
}

.header__links-container li {
  margin: auto 0;
}

.header__links-container--visible {
  transform: translateX(0);
}

.header__links-container--visible li {
  margin: 0;
}

.header__button {
  margin-top: 5px;
  background-color: transparent;
  border: none;
}

.header__link {
  display: block;
  text-decoration: none;
  border: none;
  width: 240px;
  margin: 8px auto;
  font-size: 18px;
  text-align: center;
  color: var(--metal);
}


@media screen and (min-width: 1040) {
  .header__button {
    display: none;
  }

  .header__links-container {
    display: flex;
    position: static;
    flex-direction: row;
    min-height: auto;
    transform: none;
  }

  .header__link {
    width: auto;
    margin: auto;
  }
}