@font-face {
  font-family: circular-std;
  src: url('/public/fonts/CircularStd-Book.ttf');
  font-weight: light;
}

@font-face {
  font-family: circular-std;
  src: url('/public/fonts/CircularStd-Medium.ttf');
  font-weight: medium;
}

@font-face {
  font-family: circular-std;
  src: url('/public/fonts/CircularStd-Bold.ttf');
  font-weight: bold;
}

:root {
  --metal: #3D4F5C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--metal);
  font-family: circular-std, sans-serif;
}