@font-face {
  font-family: circular-std;
  src: url('/public/fonts/CircularStd-Book.ttf');
  font-weight: light;
}

@font-face {
  font-family: circular-std;
  src: url('/public/fonts/CircularStd-Medium.ttf');
  font-weight: medium;
}

@font-face {
  font-family: circular-std;
  src: url('/public/fonts/CircularStd-Bold.ttf');
  font-weight: bold;
}

:root {
  --yellow: #FFC351;
  --orange: #FB8958;
  --light-blue: #8BB5C9;
  --sky-blue: #46B8C8;
  --dark-blue: #00A0B6;
  --olive: #A9BC87;
  --purple: #8B60D3;
  --shadow: #BBA98E;
  --light-grey: #FBFAFA;
  --grey: #F3F3F3;
  --dark-grey: #939393;
  --metal: #3D4F5C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--metal);
  font-family: circular-std, sans-serif;
}